[submodule "roles/postfix"]
	path = roles/postfix
	url = https://github.com/petemcw/ansible-role-postfix.git
[submodule "roles/boot-config"]
	path = roles/boot-config
	url = https://github.com/geerlingguy/ansible-role-raspberry-pi
